.container {
  width: 350px;
  margin: 0 auto;
}
.title {
  color: var(--color-light-gray);
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.wrapper {
  margin-top: 12px;
  border: 1px solid var(--border-gray);
  border-width: 0px 1px 1px 1px;
  position: relative;
  min-height: 250px;
  background-color: var(--color-light-gray);
}
.header {
  background-color: var(--color-brown);
  border-radius: 2px 2px 0 0;
  height: 20px;
}
.todoContainer {
  border-bottom: 1px solid var(--border-gray);
  background-color: #fff;
  height: 100%;
  width: calc(100% + 8px);
  position: absolute;
  left: -4px;
  bottom: 2px;
  box-shadow: var(--horizontal-box-shadow);
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: var(--color-light-gray);
  width: calc(100% - 8px);
  margin: 0 auto;
  padding: 3px 6px;
  border-radius: 0 0 2px 2px;
}
.list {
  height: 100%;
  overflow: auto;
}
